* {
font-family: 'Fjalla One', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.scroll {
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #222222;
  width: 40%;
  height: 200px;
  overflow-x: scroll;
  margin: 30px auto;
}

ul {
  list-style: none;
  border-bottom: 1px solid gray;
  padding: 10px;
  width: 80%;
  margin: auto;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #8fb9cf;
  /* opacity: .6; */
}

 .sidebar {
  background: white;
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  overflow-x: scroll;
  padding-top: 100px;
  margin-top: 100px;
  background: #8fb9cf;
  display: inline-block;
  color: white;
  padding-left: 10px;
  text-align: center;
  /* opacity: .6; */
}

.sidebar > h2 {
  text-decoration: underline;
  padding-bottom: 10px;

}
.btn{
  margin-bottom: 5px;
}
.btn > h3 {
  font-size: 20px;
}

.sidebarFix {
  width: 89%;
  height: 32px;
  padding-bottom: 0px;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;

}

.content {
  text-align: center;
  margin-top: 40px;
}

.nav-bar > h1 {
  color: white;
}

.home {
  text-align: center;
}

.create {
  text-align: center;
  padding-top: 100px;
}

.addInfo {
  width: 60%;
  margin-left: 25%;
}
.addInfoContent{
    width:100%;
    margin: 250px auto;
    margin-bottom: 2%;
    text-align: center;
  }

.home-text {
  text-align: center;
  margin-top: 0%;
  border-bottom: 1px solid white;
  width: 25%;
  margin: 0 auto;
  margin-bottom: 3%;
}

.main {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
.addName{
  margin-bottom: 2%;
}
#address-input{
  margin-bottom: 2%;
}

input[type=checkbox]{
  margin: 0 10px;
}

.createButton {
  display: block;
  margin: 5% auto;

}

.home-text > h1 {
  font-size: 25px;
  color: white;
}

.home-text > h3 {
  font-size: 15px;
  color: white;
}

.logInForms {
  text-align: right;
  display: inline-block;
  float: right;
  padding: 1%;
}

.navHeader {
  display: flex;
  flex-wrap: nowrap;
  width: 40%;
  display: inline-block;
  padding: 1%;
  color: white;
}

.citySelector > h1 {
  text-align: center;
}

.mainHeading{
  font-size: 45px;
}
.navHeader >h6,h1 {

  display: inline;
}
.addName {
  padding: 8px;
  border: 1px solid #cccccc;
  text-align: center;
  border-radius: 2px
}
.map {
  width: 90%;
  margin-left: 10%;
}
#maping {
  height: 500px;
  width: 500px;
  margin: 5% auto;
}
.cityInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: 10%;
}
/* ===========================
<<<<<<<<MODAL>>>>>>>>>>>>>>
=========================== */
.pop-up-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 3000px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(0,0,0,.5);

}
.pop-up-message {
  width: 300px;
  height: 300px;
  padding: 60px 20px;
  text-align: center;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 200px;
  border-radius: 5px;
}
/* ===========================
<<<<<<MEDIA QUERIES>>>>>>>>>>
=========================== */
@media (max-width: 750px){
  .pop-up-message {
    margin-top: 50px;
  }
  #maping {
    height: 400px;
    width: 400px;
  }
  .sidebarFix > h3 {
    font-size: 12px;
  }
  .sidebar {
    padding-top: 150px;
    padding-bottom: 200px;
    margin-top: 95px;
  }
  .navHeader > h1 {
    display: block;
    width: 100%;
  }
  .scroll {
    width: 70%;
  }

}
@media (max-width: 570px){
  .pop-up-message {
    margin-top: 200px;
  }
  .addInfo {
    margin-left: 35%;
  }
  #maping {
    height: 300px;
    width: 300px;
  }
  .map {
    margin-left: 20%;
  }
  .sidebar {
    width: 20%;

  }
  .sidebar > h2 {
    font-size: 22px;
  }
  .sidebarFix > h3 {
    font-size: 10px;
  }
  .cityInfo {
    margin-left: 20%;
  }
}
