html,
body {
  background:

}



/* .nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: black;
  opacity: .6;
}

/* .sidebar {
  background: white;
  height: 90%;
  width: 100px;
  position: fixed;
  z-index: 999;
  top: 138px;
  left: 0;
  overflow: hidden;
  padding-top: 20px;
} */

.sidebar > h2 {
  text-decoration: underline;

}

.content {
  text-align: center;
  margin-top: 150px;
}

.nav-bar > h1 {
  color: white;
}

.home {
  text-align: center;
}

.create {
  text-align: center;
  padding-top: 100px;
}
