<h1>Boston</h1>

<div ng-include="'partials/addinfo.html'"></div>

<div class="scroll">
  <ul ng-repeat='bathroom in ctrl.bathrooms | filter:"Boston"'>
    <li>{{bathroom.name}}</li>
    <li>{{bathroom.location}}</li>
    <li ng-if="bathroom.haveToPurchase">You Have to Buy Something</li>
    <li ng-if="!bathroom.haveToPurchase">You Don't Have to Buy Something</li>
    <li ng-if="bathroom.isAwkward">You may have to speak to an employee</li>
    <li ng-if="!bathroom.isAwkward">You won't have to talk to anybody</li>
    <li ng-if="bathroom.isClean">Clean!</li>
    <li ng-if="!bathroom.isClean">Not Clean!</li>
    <button ng-show="auth.loggedIn" ng-click="ctrl.deleteBathroom(bathroom)">Delete</button>
    <button ng-show="auth.loggedIn" ng-click="ctrl.indexOfEditFormToShow = $index">Edit</button>

    <form ng-if="$index === ctrl.indexOfEditFormToShow" ng-submit="ctrl.editBathroom(bathroom)">
      <input type="text" ng-model="ctrl.updatedName" placeholder="name">
      <input type="text" ng-model="ctrl.updatedLocation" placeholder="location">
      Purchase Required?<input ng-model="ctrl.updatedHaveToPurchase" type="checkbox">
      Is it Awkward?<input ng-model="ctrl.updatedIsAwkward" type="checkbox">
      Is it Clean?<input ng-model="ctrl.updatedIsClean" type="checkbox">
      <input type="submit"  value="Update Entry">
    </form>
  </ul>
</div>
