<h1>Pitttsburgh</h1>

<div ng-include="'partials/addinfo.html'"></div>

<!-- <div class="create">
  <h1>Add Info</h1>
  <form ng-submit="ctrl.createBathroom()">
    <input type="text" ng-model="ctrl.name" placeholder="name">
    <input type="text" ng-model="ctrl.location" placeholder="location">
    Purchase Required?<input ng-model="ctrl.haveToPurchase" type="checkbox">
    Is it Awkward?<input ng-model="ctrl.isAwkward" type="checkbox">
    Is it Clean?<input ng-model="ctrl.isClean" type="checkbox">
    <input type="submit"  value="Create Entry">
  </form>
</div>

<ul ng-repeat="bathroom in ctrl.bathrooms">
  Bathroom Name: <li>{{bathroom.name}}</li>
  Bathroom Location: <li>{{bathroom.location}}</li>
</ul> -->
