
<div ng-click = 'map.setMapAsUserCity()'>
  <h3 ng-click="ctrl.changeInclude('home')">Home</h3>
</div>
<div ng-click = 'map.setMapAsPhiladelphia()'>
  <h3 ng-click="ctrl.changeInclude('philidelphia')">Philidelphia</h3>
</div>
<div ng-click = 'map.setMapAsNewYork()'>
  <h3 ng-click="ctrl.changeInclude('newyork')">New York</h3>
</div>
<div ng-click = 'map.setMapAsBoston()'>
  <h3 ng-click="ctrl.changeInclude('boston')">Boston</h3>
</div>
<div ng-click = 'map.setMapAsPittsburgh()'>
<h3 ng-click="ctrl.changeInclude('pittsburgh')">Pittsburgh</h3>
</div>
<div ng-click = 'map.setMapAsLosAngles()'>
  <h3 ng-click="ctrl.changeInclude('losangeles')">Los Angeles</h3>
</div>
<div ng-click = 'map.setMapAsDenver'>
  <h3 ng-click="ctrl.changeInclude('denver')">Denver</h3>
</div>
